services:
  ggiemh:
    image: timkdev/ggiemh
    container_name: ggiemh_api
    env_file:
      - .env
    expose:
      - "${PORT}"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - ggiemh
