### RUN ON:
# Push to main branch.

### JOBS:
# docker: Build and push Docker image to Docker Hub.
# check_artifacts: Check build artifacts for changes.
# push_artifacts: Push artifacts to S3 if changed.
# deploy_build: Pull artifacts to EC2 and deploy build.

name: 'Deploy Application'

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/**"
      - ".husky/**"
      - ".gitignore"
      - "test.http"
      - "README.md"
      
  workflow_dispatch:

jobs:
  docker:
    # skip this step (temp)
    if: false  
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        platforms: linux/amd64,linux/arm64
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/ggiemh:latest

  # Use dorny/path-filter action to set filters on artifact files
  check_artifacts:
    needs: docker
    runs-on: ubuntu-latest

    permissions: 
      contents: read
    
    outputs:
      docker: ${{ steps.filter.outputs.docker }}
      nginx: ${{ steps.filter.outputs.nginx }}
    
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Check artifact changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            docker:
              - './build/docker-compose.yml'
            nginx:
              - './build/nginx.conf'

  push_artifacts:
    needs: check_artifacts

    # Check filters to determine if job should run
    if: 
      ${{ needs.check_artifacts.outputs.docker == 'true' || needs.check_artifacts.outputs.nginx == 'true' }}
    
    runs-on: ubuntu-latest
    
    permissions: 
      contents: read

    steps:
      - name: Get code
        uses: actions/checkout@v6
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload artifacts
        run: |
          aws s3 cp ./build/docker-compose.yml s3://${{ secrets.S3_BUCKET }}/
          aws s3 cp ./build/nginx.conf s3://${{ secrets.S3_BUCKET }}/
      
      - name: Read from bucket
        run: |
          aws s3 ls s3://${{ secrets.S3_BUCKET }}

  deploy_build:
    needs: push_artifacts
    if: always()
    runs-on: ubuntu-latest

    permissions:
      contents: read
    
    steps:
      - name: Get code
        uses: actions/checkout@v6
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Pull artifacts and deploy in EC2
        run: |
          aws ssm send-command \
            --instance-ids "${{ secrets.EC2_INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --comment "Pull artifacts from S3" \
            --parameters commands="\
              aws s3 cp s3://${{ secrets.S3_BUCKET }}/docker-compose.yml /home/ec2-user/app/docker-compose.yml && \
              aws s3 cp s3://${{ secrets.S3_BUCKET }}/nginx.conf /home/ec2-user/app/nginx.conf" \
            --region ${{ secrets.AWS_REGION }}

      - name: Debug
        run: |
          aws ssm send-command \
            --instance-ids "${{ secrets.EC2_INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --comment "Debug user and path" \
            --parameters commands="\
              whoami && pwd && ls -la && \
              cd ../../ && pwd && ls -la" \
            --region ${{ secrets.AWS_REGION }}

      # - name: Cycle Docker compose
      #   run: |
      #     aws ssm send-command \
      #       --instance-ids "${{ secrets.EC2_INSTANCE_ID }}" \
      #       --document-name "AWS-RunShellScript" \
      #       --comment "Stop containers, pull and restart, prune" \
      #       --parameters commands="\
      #         whoami && pwd && ls -la \
      #         cd home/ec2-user/app && \ 
      #         /usr/bin/docker compose down && \ 
      #         /usr/bin/docker compose up -d --pull always" \
      #       --region ${{ secrets.AWS_REGION }}