# Run workflow after new image uploaded to Docker Hub

# If build artifacts have changed:
### Upload build artifacts to S3 
### Transfer artifacts from S3 to EC2

# From EC2 instance:
### Stop and remove containers 
### Pull latest builds from Docker Hub
### Build containers and run 

name: 'Deploy Application'

on:
  workflow_run:
    workflows: 
      - 'Deploy to Docker Hub'
    types:
      - completed
      
  workflow_dispatch:


jobs:

  # Use dorny/path-filter action to set filters on artifact files
  check_artifacts:
    runs-on: ubuntu-latest

    permissions: 
      contents: read
    
    outputs:
      docker: ${{ steps.filter.outputs.docker }}
      nginx: ${{ steps.filter.outputs.nginx }}
    
    steps:
      - name: Get code
        uses: actions/checkout@v6

      - name: Check artifact changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            docker:
              - 'docker-compose.yml'
            nginx:
              - 'nginx.conf'

  upload_artifacts:
    needs: check_artifacts

    # Check filters to determine if job should run
    if: 
      ${{ needs.check_artifacts.outputs.docker == 'true' || needs.check_artifacts.outputs.nginx == 'true' }}
    
    runs-on: ubuntu-latest
    
    permissions: 
      contents: read

    steps:
      - name: Get code
        uses: actions/checkout@v6
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload artifacts
        run: |
          aws s3 cp docker-compose.yml s3://${{ secrets.S3_BUCKET }}/
          aws s3 cp nginx.conf s3://${{ secrets.S3_BUCKET }}/
      
      - name: Read from bucket
        run: |
          aws s3 ls s3://${{ secrets.S3_BUCKET }}