name: 'Test Code'
on:
  push:
    branches:
      - main
    paths-ignore: 
      - ".github/workflows/*"
      - "README.md"
      - ".gitignore"

  pull_request: 
    types:
      - opened
      - edited
    paths-ignore: 
      - ".github/workflows/*"
      - "README.md"
      - ".gitignore"
  
  workflow_dispatch: 
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      
      - name: Install deps
        run: npm ci
      
      - name: Lint code
        run: npm run lint

      - name: Test code
        run: npm run test
      
