name: 'Test Code'
on:
  pull_request: 
    types:
      - opened
      - edited
    paths-ignore: 
      - ".github/workflows/*"
      - "README.md"
  
  workflow_dispatch: 
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      
      - name: Cache deps
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: deps-node-module-${{ hashFiles('**/package-lock.json') }}
      
      - name: Install deps
        run: npm ci
      
      - name: Lint code
        run: npm run lint

      - name: Test code
        run: npm run test
      
