### RUN ON: 
# PR opened or synchronized.

### JOBS:
# Lint code and run automated tests.

name: 'Test Code'
on:
  pull_request: 
    types:
      - opened
      - synchronize
    paths-ignore: 
      - ".github/**"
      - ".husky/**"
      - ".gitignore"
      - ".dockerignore"
      - "test.http"
      - "README.md"
  
  workflow_dispatch: 
jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Get code
        uses: actions/checkout@v6
      
      - name: Install deps
        run: npm ci
      
      - name: Lint code
        run: npm run lint

      - name: Test code
        run: npm run test
      
